body {
    background-color: #1F1D36;
    color: white;
}

#container {
    width: 500px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -250px;
    margin-left: -250px;
}